/*The Custom Styling for our TeamDynamix instance.*/
div.bannerimage {
    display:flex;
    flex-direction:column;
    border-radius: 1rem;
}
div.welcometext {
     border-radius:15px;
     padding: 15px;
     max-height:max(100px, fit-content);
     margin:0 20px;
}
div.ticketbuttonpanel {
    flex-wrap: wrap;
    justify-content: center;
}
div.cbutton { /*Old custom Action Buttons*/
    transition: width 0.2s;
    background:#2b5fb3;
    margin:7px auto 0 auto; /*Proper spacing when stacked*/
    width:300px;
    height:3em;
    line-height:3em;
    border:1px solid #cccccc;
    border-radius:12px;
    text-align:center;
}

div.cbutton:hover {
    background:#245199;
    width:296px
}
div.cbutton2 { /*Custom Action Buttons*/
    background:#3160ad;
    margin:auto 15px auto 15px;
    width:150px;
    height:3em;
    line-height:3em;
    border-radius:1.5em;
    text-align:center;
    margin-top:4px;
    box-shadow: 0px 3px rgba(0, 0, 0, 7%);
    transition: 0.1s ease;
}
.ticketbuttonpanel > span > a > div.cbutton2 {
    box-shadow: 0px 4px rgba(0, 0, 0, 30%);
}
div.cbutton2:hover {
    background:#245199;
}
div.infocardcontainer {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content:center;
}
div.infocard {
    border: 1px solid gray;
    padding:18px;
    margin-bottom:6px;
    border-radius: 1rem;
    background: #f6fbf9;
    margin-left: 1%;
    margin-right:1%;
    display:flex;
    flex-direction: column;
    max-width: 30%;
    min-width:220px;
    transition: 0.3s ease;
}
div.infocardheader {
    justify-content: center;
}
div.actionbuttoncontainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}
div.expander {
    flex-grow:1;
}
@media (min-width: 670px) {
    div.welcometext {
        max-width:35%;
    }
}
@media (max-width: 504px) {
    div.infocard {
        margin-top: 2rem;
        max-width: 100%;
        width: 100%;
    }
}